name: Auto Assign
on:
  pull_request:
    types: [opened]
jobs:
  pull-request:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
    - name: "Auto-assign pull request"
      uses: pozil/auto-assign-issue@v1
      with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: T4rg3n, kiloutyg, AlexBOYERE
          numOfAssignee: 2
          abortIfPreviousAssignees: true
          allowSelfAssign: true
