name: Auto Assign
on:
  issues:
    types: [opened]
jobs:
  pull-request:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - name: "Auto-assign issue"
      uses: pozil/auto-assign-issue@v1
      with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: T4rg3n, kiloutyg, AlexBOYERE
          numOfAssignee: 1
          abortIfPreviousAssignees: true
          allowSelfAssign: true
